certifi==2022.12.7
chardet==3.0.4
idna==2.6
numpy==1.14.5
python-crfsuite==0.9.5
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
slackbot==0.5.3
slacker==0.9.65
urllib3==1.22
websocket-client==0.44.0
